* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: rgb(110, 130, 242);
  color: white;
  text-align: center;
  font: normal 16pt Arial;
}
h1 {
  margin: 30px;
}

section {
  color: black;
  background-color: white;
  width: 60vw;
  text-align: left;
  max-width: 900px;
  min-height: 200px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.374);
  position: relative;
  margin: auto;
  padding: 20px;
  padding: 25px;
}

input {
  margin: 7px 0px;
}
input#reset {
  padding: 3px;
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.456);
  margin-left: 5px;
}
input#reset:active {
  position: relative;
  top: 2px;
  box-shadow: none;
  border: transparent;
  transition: 0.5;
}

input#gerar {
  padding: 3px;
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.456);
}
input#gerar:active {
  position: relative;
  top: 2px;
  box-shadow: none;
  border: transparent;
  transition: 0.5;
}
select {
  min-width: 150px;
}

footer {
  font-style: italic;
  margin: 20px;
}
